{% extends 'header.html' %}
    {% block body %}
    <body>
        <header class="container-fluid">
            <!--<a href="#" class="logo"><img src="{{url_for('static',filename='images/devc_logo.png')}}" alt="home"></a>-->
            <form action='/' method='POST'><button id="home_redirect" class="logo" onclick="home()" type="submit"><img hint="Developers Connect" src="{{url_for('static',filename='images/devc_logo.png')}}" alt="home"></button></form>
            <nav class="col-lg-offset-6 col-lg-6">
                <ul class="nav_links">
                    <!--<li><a href="#team" class="col-lg-4">TEAM</a></li>-->
                    <!--<li><a href="#" class="col-lg-4">EVENTS</a></li>-->
                    <li><form method='POST' class="col-lg-6" action='/events'><input id="events" type="submit" onclick="events()" name="events" value="Events"></form></li>
                    <!--<li><a href="{{url_for('gallery', _anchor='gallery.html')}}" class="col-lg-4">GALLERY</a></li>-->
                    <li><form method='POST' class="col-lg-6" action='/gallery'><input  id="gallery" type="submit" onclick="gallery()" name="gallery" value="Gallery"></form></li>
                    <!--Need to look at problem of #team button-->
                    <li><form method='POST' class="col-lg-6" action='/team'><input  id="gallery" type="submit" onclick="team()" name="team" value="Team"></form></li>
                    <!--<li><form method='POST' class="col-lg-6" action='/team'><input  id="team" type="submit" onclick="team()" name="team" value="Team"></form></li>-->
                </ul>
            </nav>
        </header>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <br><br><br>
            <p class="w3-center w3-animate-top main_head">Developers Connect</p>
            <br><br><br><br><br><br>
        </div>

        <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-xl-12">
            <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4 col-xl-4"><hr></div>
            <p class="col-lg-4 col-xs-4 col-md-4 col-sm-4 col-xl-4 team_desc_heads">About Us</p>
            <div class="col-lg-4 col-xs-4 col-md-4 col-sm-4 col-xl-4"><hr></div>
        </div>

        <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 col-xl-12">
            <br><br><br>
            <p class="about_us_para">"We are a team of tech enthusiasts bringing students closer towards the industry experts!"</p>
            <br><br><br><br><br><br>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div class="container-fluid footer_styles">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br>
            <hr>
            <div class="col-lg-offset-1 col-lg-5">
                <br>
                <p id="footer_info"><span class="fa fa-map-marker"></span> Sreenidhi Institute Of Science and Technology , <strong>Yamnampet</strong></p>
                <p id="footer_info"><span class="fa fa-phone"></span> +91 1234567890</p>
                <p id="footer_info"><span class="fa fa-envelope"></span> Dev_cApm@outlook.com</p>
            </div>
            <div class="col-lg-offset-2 col-lg-3">
                <form class="form-group">
                    <center><p id="footer_info">Subscribe To Our News Letter</p></center><br>
                    <input type="email" class="form-control" placeholder="Enter Your Mail" required><br>
                    <input type="submit" class="btn btn-light col-lg-offset-4 col-lg-4" value="Sign me up">
                </form>
            </div>
            <br><br><br><br><br><br><br><br>
            <div class="col-lg-offset-4 col-lg-4">
                <a class="col-lg-3" id="footer_social_links" href="https://twitter.com/Dev_Cofficial?s=08"><span class="fa fa-twitter"></span></a>
                <a class="col-lg-3" id="footer_social_links" href="https://instagram.com/dev_cofficial2019?igshid=1mlh6os10t52a"><span class="fa fa-instagram"></span></a>
                <a class="col-lg-3" id="footer_social_links" href="https://twitter.com/Dev_Cofficial?s=08"><span class="fa fa-facebook"></span></a>
                <a class="col-lg-3" id="footer_social_links" href="https://twitter.com/Dev_Cofficial?s=08"><span class="fa fa-linkedin"></span></a>
            </div>
            <br><br>
        </div>

        {% endblock %}
    </body>
</html>